@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto+Mono:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display"),
        url("/fonts/HelveticaNowDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

body {
  font-family: "Instrument Sans", "Helvetica Now Display", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  /* IE6, IE7 */
  border: 0;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bg-blur {
    backdrop-filter: blur(128px);
    -webkit-backdrop-filter: blur(128px);
    background-color: rgba(209, 207, 207, 0.082);
  }

  .bg-blur-bottom-menu {
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    background: #0a0a2166;
  }

  .bg-blur-icon-button {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(10, 10, 33, 0.6);
  }

  .text-area-shadow {
    box-shadow: 0px 0px 30px -7px #8f91ff1a;
  }

  /* Headline 1 */
  .headline-1 {
    @apply font-helvetica-now-display font-medium uppercase text-[34px] leading-[32px] md:text-[100px] md:leading-[88px] !tracking-[0.03em];
  }

  /* Headline 2 */
  .headline-2 {
    @apply font-helvetica-now-display  md:font-helvetica-now-display font-medium uppercase md:text-[44px] md:leading-[42px] text-[22px] leading-[22px] tracking-[0.03em];

    /* Specify font family */
  }

  /* Headline 3 */
  .headline-3 {
    @apply font-helvetica-now-display font-medium text-[28px] leading-[34px] md:text-[44px] md:leading-[45px] tracking-[0.02em] md:tracking-[0.01em];
  }

  /* Headline 4 */
  .headline-4 {
    @apply font-roboto-mono font-medium uppercase tracking-[0.03em] md:text-[22px] leading-[18px] md:leading-6 text-[16px];

    /* Specify font family */
  }

  /* Running text (Large) */
  .running-text-large {
    @apply font-helvetica-now-display font-medium text-[22px] leading-[26px] md:text-[28px] md:leading-[34px] tracking-[0.02em];
  }

  /* Running text */
  .running-text {
    @apply font-helvetica-now-display font-medium text-[16px] leading-5 tracking-[0.02em] md:text-[17px] md:leading-6 md:tracking-[0.01em];
  }

  /* Running text (Small) */
  .running-text-small {
    @apply font-helvetica-now-display font-medium text-[15px] leading-5 tracking-[0.01em];
  }

  /* Running text (Mono) */
  .running-text-mono {
    @apply font-roboto-mono font-medium text-sm leading-4 tracking-[0.02em];
  }

  .description {
    @apply font-roboto-mono font-medium text-[12px] leading-[14px] tracking-[0.02em];
  }

  .ease-animate {
    @apply !transition-all !duration-300 !ease-in-out active:duration-100 hover:duration-200;
  }

  .outer-ring {
    @apply w-[120px] h-[120px] border-[3px] border-gray3 rounded-full;
  }

  .inner-ring {
    @apply w-[120px] h-[120px] border-[3px] border-[#D9D9D9] rounded-full animate-spin-progress;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  @keyframes spin-progress {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-progress {
    animation: spin-progress 2s linear infinite;
  }
}

.dm-mono {
  font-family: "DM Mono", monospace;
}

.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
}

/* styles.css */
.squircle {
  clip-path: path("M0.5,0 C0.776,0 1,0.224 1,0.5 C1,0.776 0.776,1 0.5,1 C0.224,1 0,0.776 0,0.5 C0,0.224 0.224,0 0.5,0 Z"
    );
}

.bg-blur-1 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(209, 207, 207, 0.014);
}

.bg-blur-2 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(209, 207, 207, 0.068);
}

.bg-blur-drawer {
  backdrop-filter: blur(64px);
  -webkit-backdrop-filter: blur(64px);
  background-color: rgba(10, 10, 33, 0.75);
}

.bg-blur-shadow {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(10, 10, 33, 0.75);
}

.bg-blur-x {
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.502);
}

.blur-shadow {
  box-shadow: 0px 0px 60px 0px rgba(110, 109, 255, 0.149);
}

.menu-shadow {
  box-shadow: 0px 4px 44px 0px #0a0a211a;
}

.tooltip {
  backdrop-filter: blur(128px);
  -webkit-backdrop-filter: blur(128px);
  box-shadow: 0px 0px 20px 0px #0a0a2129;
  background: #ffffff1a;
  border-radius: 16px;
  padding: 10px 12px 11px 12px;
}

.rtl-gradient {
  background: linear-gradient(90deg,
      rgba(10, 10, 33, 0) 0%,
      rgba(10, 10, 33, 0.5) 40.5%,
      #0a0a21 80.5%);
}

.ltr-gradient {
  background: linear-gradient(270deg,
      rgba(10, 10, 33, 0) 0%,
      rgba(10, 10, 33, 0.5) 40.5%,
      #0a0a21 80.5%);
}

.top-gradient {
  background: linear-gradient(220deg,
      rgba(10, 10, 33, 0) 0%,
      rgba(10, 10, 33, 0.5) 40.5%,
      #0a0a21 80.5%);
}

.game-mobile-menu-shadow {
  box-shadow: 0px 4px 44px 0px #0a0a211a;
}

.images-glow {
  box-shadow: 0px 20px 250px -100px #8f91ff99;
}

.icon-glow {
  filter: drop-shadow(0px -4px 54px #ffffff40);
  /* box-shadow: 0px -4px 54px 0px #FFFFFF40; */
}

.bg-gradient {
  background-size: cover;
  background-position: center;
}

/* hide scroll */
.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
}

/* width */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  -webkit-appearance: none;
  display: none;

  height: 0;
}

/* Track */
.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

/* styles.css */

/* styles.css */

.stepper.step::before {
  content: "";
  position: absolute;
  top: 50%;
  /* Adjust based on your circle size */
  left: 50%;
  /* Adjust based on your circle size */
  width: 1px;
  /* Thickness of the line */
  height: 50%;
  /* Height of the line */
  background-color: white;
  /* Color of the line */
  transform: translate(-50%, -50%);
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.translate-up {
  display: inline-block;
  /* Ensure the transform affects the inline element */

  /* Adjust the -3px value as needed */
}

/* Hide the default audio controls */
/* audio::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
} */
.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Adjust the number of lines as needed */
  overflow: hidden;
  text-overflow: ellipsis;
}

audio::-webkit-media-controls-enclosure {
  width: 100% !important;
  -webkit-appearance: none;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
/* settings button */
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-panel,

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-return-to-realtime-button {
  display: none !important;
  -webkit-appearance: none;
}

audio::-webkit-media-controls-enclosure {
  width: 100% !important;
  -webkit-appearance: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* width */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 764px) {

  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.gradient-blur {
  position: fixed;
  z-index: 19;
  inset: 0 0 auto 0;
  /* Adjusted to place it at the bottom */
  height: 420px;
  pointer-events: none;
  transform: translateZ(0);
  /* Enable hardware acceleration */
}

.gradient-blur>div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  -webkit-backdrop-filter: blur(0.5px);
  /* WebKit prefix */
  backdrop-filter: blur(0.5px);
  -webkit-mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 37.5%);
  mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 37.5%);
}

.gradient-blur>div:nth-of-type(1) {
  z-index: 2;
  -webkit-backdrop-filter: blur(1px);
  /* WebKit prefix */
  backdrop-filter: blur(1px);
  -webkit-mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%);
  mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%);
}

.gradient-blur>div:nth-of-type(2) {
  z-index: 3;
  -webkit-backdrop-filter: blur(2px);
  /* WebKit prefix */
  backdrop-filter: blur(2px);
  -webkit-mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%);
  mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%);
}

.gradient-blur>div:nth-of-type(3) {
  z-index: 4;
  -webkit-backdrop-filter: blur(4px);
  /* WebKit prefix */
  backdrop-filter: blur(4px);
  -webkit-mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%);
  mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%);
}

.gradient-blur>div:nth-of-type(4) {
  z-index: 5;
  -webkit-backdrop-filter: blur(8px);
  /* WebKit prefix */
  backdrop-filter: blur(8px);
  -webkit-mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%);
  mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%);
}

.gradient-blur>div:nth-of-type(5) {
  z-index: 6;
  -webkit-backdrop-filter: blur(16px);
  /* WebKit prefix */
  backdrop-filter: blur(16px);
  -webkit-mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%);
  mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%);
}

.gradient-blur>div:nth-of-type(6) {
  z-index: 7;
  -webkit-backdrop-filter: blur(32px);
  /* WebKit prefix */
  backdrop-filter: blur(32px);
  -webkit-mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%);
  mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%);
}

.gradient-blur::after {
  content: "";
  z-index: 8;
  -webkit-backdrop-filter: blur(64px);
  /* WebKit prefix */
  backdrop-filter: blur(64px);
  -webkit-mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 1) 100%);
  mask: linear-gradient(to top,
      /* Changed direction */
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 1) 100%);
}

@media (max-width: 764px) {
  .gradient-blur {
    height: 192px;
  }


  .bg-gradient {
    background-image: url("/images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* This ensures the background image fills the viewport height */
  }
}


.dice-box {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100%;
  background-size: cover;
  z-index: 100;
  pointer-events: none;
}

.dice-box canvas {
  pointer-events: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.chat-box {
  -webkit-overflow-scrolling: touch;
}

.custom-markdown-text {
  background-color: rgba(255, 255, 255, 0.08);
  /* White with 8% opacity */
  border: 1px solid rgba(255, 255, 255, 0.08);
  /* White border with 8% opacity */
  padding: 16px;
  padding-bottom:0px;
  /* Equivalent to p-4 */
  border-radius: 10px;
  /* Equivalent to rounded-lg */
  color: rgba(255, 255, 255);
  /* Text color white with 80% opacity */
}

.custom-markdown-text-player1 {
  background-color: rgba(143, 145, 255, 0.3);
  /* Purple with 8% opacity */
  border: 1px solid rgba(143, 145, 255, 0.3);
  /* White border with 8% opacity */
  padding: 20px;
  /* Equivalent to p-4 */
  border-radius: 10px;
  /* Equivalent to rounded-lg */
  color: rgba(255, 255, 255);
  /* Text color white with 80% opacity */
}


.select-games-container {
  box-shadow: 0px 0px 50px -7px #0A0A2199;

  backdrop-filter: blur(128px)
}